# Tuple are very similar to lists,except that they are immutable

In [1]:
#Write a Python program to unpack a tuple in several variables
#create a tuple
tuplex = 4, 8, 3 
print(tuplex)
n1, n2, n3 = tuplex
#unpack a tuple in variables
print(n1 + n2 + n3)

(4, 8, 3)
15

In [2]:
#Write a Python program to add an item in a tuple.
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
tuplex = tuplex + (9,)
print(tuplex)
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
listx = list(tuplex) 
print(listx)
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)
[4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3]
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30)

In [3]:
#Write a Python program to replace the last value of tuples in a list.
#Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
#Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]
l= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:2] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [4]:
#Count the number of even and odd numbers in a tuple.
def count_even_odd(tup):
    even_count = sum(1 for x in tup if x % 2 == 0)
    odd_count = len(tup) - even_count
    return even_count, odd_count

tup = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even, odd = count_even_odd(tup)
print("Even:", even)  # Output: Even: 4
print("Odd:", odd)

Even: 4
Odd: 5

In [5]:
#Find the product of all elements in a tuple.

def product_tuple(tup):
    product = 1
    for x in tup:
        product *= x
    return product

tup = (1, 2, 3, 4, 5)
result = product_tuple(tup)
print(result)

120

In [6]:
#write a Python program to print the value 20.
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

In [7]:
#Unpack the tuple into 4 variables
#Write a program to unpack the following tuple into four variables and display each variable.
tuple1 = (10, 20, 30, 40)
a,b,c,d=tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [8]:
#Swap two tuples in Python
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1,tuple2=tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [9]:
#Copy specific elements from one tuple to a new tuple
#Write a program to copy elements 44 and 55 from the following tuple into a new tuple.
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2=tuple1[3:-1]
print(tuple2)

(44, 55)

In [10]:
#Modify the tuple
#Given is a nested tuple. 
#Write a program to modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

In [11]:
#Check if all items in the tuple are the same
tuple1 = (45, 45, 45, 45)
def check(t):
    return all(i == t[0] for i in t)
print(check(tuple1))

True