# for loop
#a for loop is used to iterate over sequences such as lists, strings, tuples, etc.

In [1]:
#check given number is prime or not
num=int(input("Enter the number = "))
if num>1:
    for i in range(2,num):
        if(num%i)==0:
            print("the number entered is not a prime number")
            break
    else:
            print("the number entered is a prime number")

Enter the number =  56

the number entered is not a prime number

In [2]:
#pattern using for loop
for i in range(1,6,1):
    print('@'*i)

@
@@
@@@
@@@@
@@@@@

In [3]:
#pattern using for loop
for i in range(6,0,-1):
    print('@'*i)

@@@@@@
@@@@@
@@@@
@@@
@@
@

In [4]:
#enter table 2-10
for tab in range(2,11):
    for i in range(1,11):
        print(tab*i,end='  ')
    print()

2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100

In [5]:
#multiplication table pattern
n=int(input("enter the number"))
for i in range (1,n+1):
    for j in range(1,i+1):
        square=i*j
        print(i*j,end='  ')
    print()

enter the number 7

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49

In [6]:
n=[5,6,7]
i=1
while(i<=10 and len(n)):
    b =n[0]*i
    c= n[1]*i  
    d= n[2]*i 
    print(b,end="   ")
    print(c,end="   ")
    print(d)
    i=i+1

5   6   7
10   12   14
15   18   21
20   24   28
25   30   35
30   36   42
35   42   49
40   48   56
45   54   63
50   60   70

In [7]:
#Print the first 10 natural numbers using for loop.
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [8]:
#print first ten even numbers-
for i in range(2,21,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [9]:
#print first ten odd numbers-
for i in range(1,20,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [11]:
# Set the value of 'n' to 5 (this will determine the number of lines in the pattern)
n = 5
for i in range(n):
    # Iterate through the range of numbers from 0 to 'i' (exclusive) for each 'i' in the outer loop
    for j in range(i):
        print('* ', end="")
    print('')
for i in range(n, 0, -1):
    # Iterate through the range of numbers from 0 to 'i' (exclusive) for each 'i' in the outer loop
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*