# Map Function

In [7]:
# It works as an iterable to return a result after applying a function to every time of an iterable

In [8]:
#Return double of n
def addition (n):
    return n + n

In [9]:
#we double all numbers using map()
numbers=(1,2,3,4)
result=map(addition,numbers)
print(list(result))

[2, 4, 6, 8]

In [11]:
#sum by 5 all numbers using map and lambda
number1=(5,10,15,20)
result=map(lambda x:x+5,number1)
print(list(result))

[10, 15, 20, 25]

In [12]:
#Make new fruits by sending two iterable objects into the function:
def myfunc(a, b):
  return a + b

In [13]:
x = list(map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple')))
print(x)

['appleorange', 'bananalemon', 'cherrypineapple']

In [15]:
# Add two lists using map and lambda
 
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
 
result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [16]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']
 
# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [17]:
# Define a function that doubles even numbers and leaves odd numbers as is
def double_even(num):
    if num % 2 == 0:
        return num * 2
    else:
        return num
 
# Create a list of numbers to apply the function to
numbers = [1, 2, 3, 4, 5]
 
# Use map to apply the function to each element in the list
result = list(map(double_even, numbers))
 
# Print the result
print(result)

[1, 4, 3, 8, 5]

In [18]:
numbers = [1,2,3,4]

# returns the square of a number
def square(number):
  return number * number

# apply square() to each item of the numbers list
squared_numbers = map(square, numbers)

# converting to list for printing
result = list(squared_numbers)
print(result)

[1, 4, 9, 16]

In [19]:
#square a number
numbers = (1, 2, 3, 4)
result = map(lambda x: x*x, numbers)
print(result)

# convert to set and print it
print(set(result))

<map object at 0x000001F399BDFF10>
{16, 1, 4, 9}