In [1]:
#print the element of the following list using a loop
fruitlist=['apple','mango','grapes','banana','watermelon']
i=0
while i<len(fruitlist):
    print(fruitlist[i],end="  ")
    i+=1

apple  mango  grapes  banana  watermelon

In [2]:
#search for a number x in this tuple using loop
#(5,3,7,6,15,14,33)
tpl=(5,3,7,6,15,14,33)
x=int(input("enter a no. from tuple:"))
i=0
while i<len(tpl):
    if(tpl[i]==x):
        print("found",i)
    else:
        print("finding...")
    i+=1

enter a no. from tuple: 6

finding...
finding...
finding...
found 3
finding...
finding...
finding...

In [3]:
#Finding the sum of numbers in a list using while loop
myList = [23,45,12,10,25]
i = 0 
sum = 0
while i < len(myList):
    sum += myList[i]
    i += 1
print(sum)

115

In [4]:
#write a program to reverse the no.accepted from the user
n=int(input("Enter the number = "))
i=0
rev=0
while(n!=0):
    i=n%10
    rev=rev*10+i
    n=n//10
print("The reverse no. is ",rev)

Enter the number =  465

The reverse no. is  564

In [5]:
#print following series-10,20,30,.....300
n=1
while(n<=30):
    ser=n*10
    print(ser,end=" ")
    n=n+1

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300

In [6]:
#print following series-105,98,91,....7
n=105
while(n>=7):
    print(n,end=" ")
    n=n-7

105 98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [7]:
#print first 20 natural no. in reverse order
n=20
while(n>=1):
    print(n,end=" ")
    n=n-1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [8]:
#print sum of first 10 natural no.
nat=1
sum=0
while nat<=10:
    sum=sum+nat
    nat=nat+1
print("The sum of 1st ten natural number is ",sum)

The sum of 1st ten natural number is  55

In [9]:
#print sum of first 10 even no.
even=2
sum=0
while(even<=20):
    sum=sum+even
    even=even+2
print("The sum of 1st ten even number is ",sum)

The sum of 1st ten even number is  110

In [10]:
#print sum of first 10 odd no.
odd=1
sum=0
while(odd<20):
    sum=sum+odd
    odd=odd+2
print("The sum of 1st ten odd number is ",sum)

The sum of 1st ten odd number is  100